container {
    display: flex;
}

.receipt {
    border: 1px solid orange;
    width: 200px;
    height: 400px;
    text-align: center;
    float: left;
    margin: 20px;
}

span {
    color: indigo;
}
