
header {
    background-color: whitesmoke;
   text-align: center;
}

body {
    font-family: 'Oswald', sans-serif;
   background-color: rgb(189, 230, 230);
}


h1, h2, h3 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 60px;
}

  li {
    padding: 0px 10px 0px 10px;
    color: black;
  }

  img {
      width: 30%;
      margin: 0 auto;
      border-radius: 20px;
  }

  a {
      color: black;
  }

  .nav {
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    margin-top: 70px;
    text-align: center;
  }


  .one {
    display: inline;
    padding: 0px 10px 0px 10px;
  }


.column {
    display: inline-block;
    width: 32%;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
  }
  


  /* <a href=https://www.imdb.com/videoplayer/vi2485890841> */
 

